<h1> Sign in </h1>


<form action="/verify_user_record" method="post">
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="input_username" placeholder="Enter a username...">
  </div>

  <div> 
    <label for="pass">Password</label>
    <input id="pass" type="password" name="input_password" >
  </div>
  
  <div>
    <button>Sign in</button>
  </div>
  
</form>
  

